<!DOCTYPE html>
<html lang="en">

<%- include("partials/header") %>

  <body>
    <%- include("partials/navbar") %>

      <!-- Page Content -->
      <div class="page-heading header-text">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1>
                <%= post.title %>
              </h1>
              <span><i class="fa fa-user"></i> <% if (typeof user !== 'undefined' && user) { %>
               <h3 style="color: azure;">Admin</h3>
              <% } else { %>
                <h3  style="color: azure;">User</h3>
              <% } %>
               &nbsp;|&nbsp; <i class="fa fa-calendar"></i><%= post.createdAt.toDateString() %> %>

              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="more-info about-info">
        <div class="container">
          <div class="more-info-content">
            <div class="right-content">
              <div>
                <img src="/uploads/<%= post.image %>" class="img-fluid" alt="">
              </div>
              <br>
              <p>
              <pre>  <%= post.content %></pre>
              </p>
            </div>
            <% if (user && user.role === 'admin') { %>
              <a href="/edit/<%= post._id %>" class="btn btn-warning">Edit</a>
            
              <form action="/delete/<%= post._id %>" method="POST" style="display:inline;">
                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure?');">Delete</button>
              </form>
            <% } %>
          </div>
        </div>
      </div>

      <div class="callback-form contact-us">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-heading">
                <h2>Leave a <em>comment</em></h2>
                <span>Suspendisse a ante in neque iaculis lacinia</span>
              </div>
            </div>
            <div class="col-md-12">
              <div class="contact-form">
                <form id="contact" action="" method="get">
                  <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                      <fieldset>
                        <input name="name" type="text" class="form-control" id="name" placeholder="Full Name"
                          required="">
                      </fieldset>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                      <fieldset>
                        <input name="email" type="text" class="form-control" id="email" pattern="[^ @]*@[^ @]*"
                          placeholder="E-Mail Address" required="">
                      </fieldset>
                    </div>
                    <div class="col-lg-12">
                      <fieldset>
                        <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message"
                          required=""></textarea>
                      </fieldset>
                    </div>
                    <div class="col-lg-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="filled-button">Submit</button>
                      </fieldset>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer Starts Here -->

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true" style="margin-top: 70px;">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Book Now</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="#" id="contact">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <fieldset>
                        <input type="text" class="form-control" placeholder="Pick-up location" required="">
                      </fieldset>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <fieldset>
                        <input type="text" class="form-control" placeholder="Return location" required="">
                      </fieldset>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <fieldset>
                        <input type="text" class="form-control" placeholder="Pick-up date/time" required="">
                      </fieldset>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <fieldset>
                        <input type="text" class="form-control" placeholder="Return date/time" required="">
                      </fieldset>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <fieldset>
                    <input type="text" class="form-control" placeholder="Enter full name" required="">
                  </fieldset>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <fieldset>
                        <input type="text" class="form-control" placeholder="Enter email address" required="">
                      </fieldset>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <fieldset>
                        <input type="text" class="form-control" placeholder="Enter phone" required="">
                      </fieldset>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary">Book Now</button>
            </div>
          </div>
        </div>
      </div>
      <%- include("partials/footer") %>

        <!-- Bootstrap core JavaScript -->
        <%- include("partials/script") %>

  </body>

</html>










